<style>
  .view {
    border-radius: 20px;
    background: linear-gradient(-45deg, #ee7752, #ff66ff, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    margin: 2rem;
    animation: gradient 15s ease infinite;
    height: auto;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  section {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label {
    padding-bottom: 0px !important;
    margin-top: -5px !important;
    margin-left: 5px !important;
  }
</style>
<section>
  <div class="col-lg-5 m-auto">
    <div class="card card-cascade narrower">
      <div class="view view-cascade text-center">
        <h2 class="card-header-title">Đổi mật khẩu</h2>
        <p>Tên đăng nhập:</p>
      </div>

      <div class="card-body card-body-cascade px-5 py-6">
        <form name="formchangePass" id="formdoimatkhau">
          <div class="md-form md-outline" ng-show="checkMail == null">
            <input name="oldpassword" ng-model="oldpassword" type="password" id="password" class="form-control"
              required />
            <label class="bg-white blue-text rounded" for="password">
              <strong>Mật khẩu cũ</strong>
            </label>
            <small ng-show="formchangePass.oldpassword.$error.required" class="form-text blue-text">Vui lòng nhập lại
              mật khẩu</small>
          </div>
          <div class="md-form md-outline">
            <input name="newpassword" ng-model="student.password" type="password" id="password" class="form-control"
              minlength="6" required />
            <label class="bg-white blue-text rounded" for="password">
              <strong>Mật khẩu mới</strong>
            </label>
            <small ng-show="formchangePass.newpassword.$error.required" id="password" class="form-text blue-text">Vui
              lòng nhập mật khẩu</small>
            <small ng-show="formchangePass.newpassword.$error.minlength" id="password" class="form-text blue-text">Mật
              khẩu phải hơn 6 kí tự</small>
          </div>

          <div class="md-form md-outline">
            <input name="newrepassword" ng-model="newrepassword" type="password" id="password" class="form-control"
              new-repass required />
            <label class="bg-white blue-text rounded" for="password">
              <strong>Nhập lại mật khẩu </strong>
            </label>
            <small ng-show="formchangePass.newrepassword.$error.required" class="form-text blue-text">Vui lòng nhập lại
              mật khẩu</small>
            <small ng-show="formchangePass.newrepassword.$invalid &&!formchangePass.newrepassword.$error.required"
              class="form-text blue-text">Mật khẩu nhập lại không khớp</small>
          </div>

          <div class="text-center mt-4">
            <button ng-click="changePass()" ng-disable="formchangePass.$invalid"
              class="btn purple-gradient btn-rounded">
              Đổi mật khẩu
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>