<style>
    .show>span {
        background-color: rgb(64, 53, 223) !important;
        font-size: 25px;
    }
</style>
<section ng-show="Student==null" style="padding-top: 50px;">
    <div class="main-container {{(Student==null)?'show':'hidden'}}" >
        <div class="d-flex justify-content-center align-items-center">
            <div class="row" style="background-image: url(images/background.gif); width:100%; border-radius: 10px;">
                <div class="col-md-12" style="text-align: center; color: white; margin-bottom: 5px;">
                    <h1 class="intro-title " data-wow-delay="0.3s" style="font-weight: bold; font-size: 40px;margin-top: 30px;">Trắc nghiệm Online </h1>
                    <h6 class="" data-wow-delay="0.3s" style="font-weight: 500;font-size: 10px; margin-top: 10px;margin-bottom: 20px;">Vui lòng đăng nhập hoặc đăng ký trước khi bắt đầu</h6>
                    <a href="#!login" class="btn btn-white btn-rounded orange-text"  style="font-weight: bold;width: auto;">Đăng nhập</a>
                    <a href="#!register" class="btn btn-outline-white btn-rounded "  style="font-weight: bold;width: auto; ">Đăng kí</a>
                </div>
            </div>
            <hr>

        </div>
    </div>
</section>
<section >
    <div class="dark-grey-text text-center p-5 rgba-white-strong" style="margin-top: 50px;">
        <h3 class="font-weight-bold mb-4 pb-2">Danh Mục Thi</h3>
        <p class="text-muted w-responsive mx-auto mb-5 ">Chọn phần thi theo bộ muôn bạn đang học</p>
        <div class="loading {{(subjects.length==0)?' ':'hidden'}} show" style="margin-top: 0px;">
            <h1 class="font-weight-bold red-text" style="font-size: 20px;">Không có kết quả phù hợp</h1>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="row">
            <div ng-repeat="sj in subjects| limitTo:6:count" class="col-md-4" style="min-height: 350px;">
                <div class="box">
                    <div class="view overlay z-depth-1 d-flex justify-content-center white " style="border-radius: 20px;">
                        <img src="images/logos/{{sj.Logo}}"  alt="Sample project image">
                        <a ng-click="checkLogin(sj.Id)">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>

                <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                    <a ng-click="checkLogin(sj.Id)" class="{{($index%2==0)?'orange-text':'deep-purple-text'}}">
                        <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-book-open pr-2"></i>Bài thi</h6>
                    </a>
                    <h4 class="font-weight-bold mb-3">{{sj.Name}}</h4>
                    <a ng-click="checkLogin(sj.Id)" class="btn btn-success btn-rounded btn-md"> Chi tiết</a>
                </div>

            </div>

        </div>
        <div>
            <button show ng-click="Prev()" class="btn btn-primary {{(count==0)?'disabled':''}}  {{(subjects.length==0 || subjects.length<6 )?'hidden':''}}"><i class="fas fa-chevron-circle-left" ></i></button>
            <button ng-click="Next()" class="btn btn-primary {{(count==18 || check.length<6 &&  checkCount==1)?'disabled':''}}  {{(subjects.length==0 || subjects.length<6 )?'hidden':''}}" ><i class="fas fa-chevron-circle-right"></i></button>
        </div>
    </div>
</section>